@using MiProyecto.Web.Pages
@using MiProyecto.Web.Layout
@inject IJSRuntime JS
@inject NavigationManager Nav

@if (isCheckingAuth)
{
    <p>Cargando...</p> @* o spinner *@
}
else
{
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <NotFound />
            </LayoutView>
        </NotFound>
    </Router>
}

@code {
    private bool isCheckingAuth = true;

    protected override async Task OnInitializedAsync()
    {
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "token");

        if (string.IsNullOrEmpty(token))
        {
            Nav.NavigateTo("/login", true);
        }
        else
        {
            isCheckingAuth = false;
        }
    }
}